<div class="bg-dark-blue">
  <div class="container nav-padding">
    <div class="row">
      <div class="col-md-12">
        <center>
          <h1><a href="/">MultiMouse</a></h1>
          <p>ABOUT</p>
        </center>
      </div>
    </div>
  </div>
</div>
