

<%- include head.ejs %>
<body id="about">
  <div style="background-color:rgba(0,0,0,0.6);">
    <%- include nav.ejs %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="container">
            <div class="color-seafoam">
              <center><h1>ABOUT MULTIMOUSE</h1></center>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer">
        <div class="col-sm-4">

            <div class="white-header">
              <img class="img img-responsive" src="http://i.imgur.com/8yFfzyn.png">


            </div>

        </div>
        <div class="col-sm-8">

            <div class="white-header">
              The Idea
            </div>

        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid min-height bg-seafoam">
    <div class="row buffer">
      <div class="col-sm-4">

          <div class="white-header">
            <img class="img img-responsive" src="http://i.imgur.com/utwxigh.png">
          </div>

      </div>
      <div class="col-sm-8">

          <div class="white-header">
            The Force
          </div>

      </div>
    </div>
  </div>

  <!--
  <div class="container">

  <div class="row support-nav-buffer">
  <div class="col-md-12">
  <h1>THE FORCE</h1>
</div>
</div>
</div>
-->

</body>
<%- include footer.ejs %>
