

<%- include head.ejs %>
<body id="about">
  <div style="background-color:rgba(0,0,0,0.8);">
    <%- include nav.ejs %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="container">
            <div class="color-seafoam">
              <center><h1>ABOUT MULTIMOUSE</h1></center>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row buffer">
          <div class="col-sm-4">
            <div class="white-header">
              <img class="img img-responsive" src="http://i.imgur.com/8yFfzyn.png">
            </div>
          </div>
          <div class="col-sm-8">

            <div class="white-header">
              What Is It?
            </div>
            <p class="white-pop-copy">
              Multi Mouse is a Mac Application that puts multiple cursors on your screen. With the click of a button, you switch which cursor is active. Checkout the <a href="#">demo</a> on youtube!
            </p>
            <p class="white-pop-copy">
              You can find community input on the MultiMouse <a href="http://www.reddit.com/r/multimouse">subreddit</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid min-height bg-seafoam">
    <div class="container">
      <div class="row buffer">

        <div class="col-sm-4">

          <div class="white-header">
            <img class="img img-responsive" src="http://i.imgur.com/utwxigh.png">
          </div>
        </div>
        <div class="col-sm-8">
          <div class="white-header">
            The Force
          </div>
          <div class="row">
          <div class="col-sm-8">
            <p class="dark-pop-copy">
              The dev force consists of just me, <a href="http://drewweth.com/">Drew</a>. I created everything from the app to this site. MultiMouse spawned from the idea that I wanted to plug in multiple mice and see multiple cursors on the screen. Fast forward 36 hours to the end of HackIllinois, and I had made MultiMouse from scratch and found it super useful. I'm always looking to make it better, visit the <a href="/support">support</a> page if you have any comments, questions, or concerns.
            </p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</body>
<%- include footer.ejs %>
