<%- include head.ejs %>
  <body id="index">
    <div class="video">
      <video autoplay poster="polina.jpg" id="bgvid">
        <source src="https://s3-us-west-2.amazonaws.com/multimouse/video.mp4" type="video/mp4">
      </video>

      <%- include nav.ejs %>
      <div class="row text-padding">
        <div class="col-sm-6">
            <img class="img img-responsive" src="http://i.imgur.com/8yFfzyn.png">
        </div>
        <div class="col-sm-6">
            <div class="white-header">About</div>
            <p class="header">
              Why Only Use One Cursor? Double Your Productivity with MultiMouse.
            </p>
            <p>
              <a href="http://drewweth.com">Download On MacStore</a>
            </p>
        </div>
      </div>
    </div>


    <div class="large-blue">
      <div class="container">
        <div class="row text-padding">
          <div class="col-sm-6">
            <div class="center-y">

                <div class="white-header">Amazing Paired Programming!</div>
                <div class="blue-comments">
                  <p>
                    Never ask for the mouse again. Take control.
                  </p>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
            <img class="img img-responsive" src="http://i.imgur.com/utwxigh.png">
          </div>
        </div>
      </div>
    </div>
    <div class="large-red">
      <div class="container">
        <div class="row text-padding">
          <div class="col-sm-6">
            <div class="center-y">
              <img class="img img-responsive" src="http://i.imgur.com/utwxigh.png">
            </div>
          </div>
          <div class="col-sm-6">
              <div class="white-header">
                Seemless Duel Screening!
              </div>
              <div class="red-comments">
                <p>
                  Never have to move your cursor through the awkward space between monitors.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </dody>
<%- include footer.ejs %>
