<%- include head.ejs %>



  <body id="index">
    <div class="video">
      <video autoplay poster="polina.jpg" id="bgvid">
        <!-- <source src="https://s3-us-west-2.amazonaws.com/multimouse/video.mp4" type="video/mp4"> -->
      </video>
        <div class="dark">
        <%- include nav.ejs %>

        <div class="container">
          <% if(typeof script !== 'undefined' && script !== null){ %>
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= script %>
            </div>
          <% } %>
          <div class="row text-padding" style="">
            <div class="col-sm-6">
              <img id="full-img" class="img-responsive full-width" src="http://i.imgur.com/dfQOcob.png"></img>
            </div>
            <div class="col-sm-6">
                <div class="white-header">Harness the Power of Multiple Cursors</div>
                <p class="header">
                  MultiMouse is a Mac application that puts two cursors on your screen that you can instantly toggle between with the click of a button.
                </p>
                <p>
                  <a href="http://drewweth.com"><img class="app-store-img" src="http://livelylogic.com/images/app-store-button.png"></img></a>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="large-blue">
      <div class="container">
        <div class="row text-padding">
          <div class="col-sm-7">
            <div class="center-y margin-top">

                <div class="white-header">Amazing for Pair Programming!</div>
                <div class="blue-comments">
                  <p>
                    Ever ask your programming partner for the mouse? Oh course you have. With MultiMouse you'll never ask for the mouse again. <span class="pop-pp">Plug in a second mouse</span> and have two cursors on the screen! <span class="pop-pp">Take control</span> of your programming and be your most efficient!
                  </p>
                </div>
            </div>
          </div>
          <div class="col-sm-5">
            <center class="large margin-top">
            <!-- <img class="img img-responsive" src="http://i.imgur.com/utwxigh.png"> -->
              <i class="fa fa-user"></i>
              <i class="fa fa-desktop"></i>
              <i class="fa fa-user"></i>
            </center>
          </div>
        </div>
      </div>
    </div>
    <div class="large-red">
      <div class="container">
        <div class="row text-padding">
          <div class="col-sm-5">
            <div class="center-y">
              <center class="large margin-top">
              <!-- <img class="img img-responsive" src="http://i.imgur.com/utwxigh.png"> -->
                <i class="fa fa-desktop"></i>
                <i class="fa fa-user"></i>
                <i class="fa fa-desktop"></i>
              </center>
            </div>
          </div>
          <div class="col-sm-7 margin-top">
              <div class="white-header">
                Seamless Dual Screening Experience!
              </div>
              <div class="red-comments">
                <p>
                  When you have two cursors on the screen you never have to move your cursor through the awkward space between monitors. <span class="pop-duel">Simply toggle</span> the activation button on your mouse and <span class="pop-duel">switch cursors</span> between different screens without fretting.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </dody>
<%- include footer.ejs %>
