

<%- include head.ejs %>
<body>
  <%- include support-nav.ejs %>


  <div class="container">

    <div class="row support-nav-buffer">
      <div class="col-md-3">
        <div class="top-buffer">
          <h3 style="margin-top:0px;">Select Reason For Contact</h3>
        </div>
        <div id="content">
          <ul id="tabs" class="nav nav-pills nav-stacked" data-tabs="tabs">
            <li class="active"><a href="#faq" data-toggle="tab">Frequently Asked Questions</a></li>
            <li><a href="#bug" data-toggle="tab">Report a Bug</a></li>
            <li><a href="#press" data-toggle="tab">Press Inquiry</a></li>
            <li><a href="#other" data-toggle="tab">Other</a></li>
          </ul>


        </div>
        <div class="link-buffer">
          <a href="http://www.reddit.com/r/multimouse"><i class="fa fa-reddit"></i> Discuss on reddit</a>
        </div>
      </div>

      <div class="col-md-9">
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="faq">
            <p class="question">Can I set my own toggle button?</p>
            <p class="answer">Yes! Run the MultiMouse application, under Preferences <code>Command + ,</code> you can reset the toggle button under the Settings tab.</p>

            <p class="question">Is it free?</p>
            <p class="answer">It's $1.99, the good thing is that you can use it on multiple computers with the same iCloud login. The cost is to ensure the application has funds to keep it alive, bug-free, and thriving.</p>

            <p class="question">Is there a Windows or Linux version?</p>
            <p class="answer">Nope. With enough community support, we'll absolutely creator a Windows and Linux version. There's no timeline established for that feature though.</p>

            <p class="question">How many mice can I plug in?</p>
            <p class="answer">As many as you want, but the application only recognizes <i>one</i> extra mouse and thusly displays only <i>one</i> extra cursor. With enough community support we plan to expand the application to handle variable number of mice.</p>

            <p class="question">Where do I provide input?</p>
            <p class="answer">You can use the relavent form provided via the side menu on this page, or post on the <a href="http://www.reddit.com/r/multimouse">subreddit</a>.</p>
          </div>
          <div class="tab-pane" id="bug">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">

                <p class="question">
                  REPORT A BUG
                </p>
              </div>
            </div>
            <form class="form-horizontal" method="post" action="/bug-form">
              <div class="form-group">
                <label for="system" class="col-sm-2 control-label">Operating System Version</label>
                <div class="col-sm-10">
                  <input type="text" name="form[os]" class="form-control" id="os" placeholder="MAC OSX 10.10.1 Yosemite">
                </div>
              </div>
              <div class="form-group">
                <label for="whathappened" class="col-sm-2 control-label">Tell us what happened</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="form[context]" id="" placeholder="Provide as much detail as possible, please"></textarea>
                </div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-10"><hr><center><div class="info-text">OPTIONAL</div></center></div>

              <div class="form-group">
                <label for="whathappened" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" name="form[email]" class="form-control" id="" placeholder="Your email">
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Your name</label>
                <div class="col-sm-10">
                  <input type="text" name="form[name]" class="form-control" id="" placeholder="Hi">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Email me back with results
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="info-text">
                    Thanks for taking your time to improve the MultiMouse experience for everyone.
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="press">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">

                <p class="question">
                  PRESS INQUIRY
                </p>
              </div>
            </div>
            <form class="form-horizontal" method="post" action="/press-form">
              <div class="form-group">
                <label for="system" class="col-sm-2 control-label">Your name</label>
                <div class="col-sm-10">
                  <input type="text" name="form[name]" class="form-control" id="os" placeholder="Jane Doe">
                </div>
              </div>
              <div class="form-group">
                <label for="system" class="col-sm-2 control-label">Your email</label>
                <div class="col-sm-10">
                  <input type="email" name="form[email]" class="form-control" id="os" placeholder="jane.doe@mail.com">
                </div>
              </div>
              <div class="form-group">
                <label for="system" class="col-sm-2 control-label">Your media publication</label>
                <div class="col-sm-10">
                  <input type="text" name="form[publication]" class="form-control" id="os" placeholder="AP">
                </div>
              </div>
              <div class="form-group">
                <label for="whathappened" class="col-sm-2 control-label">Brief story description</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="form[description]" id="" placeholder="In general, what would you like to write about?"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="info-text">
                    Thanks for considering us for a story, we'll get back with you soon!
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="other">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">

                <p class="question">
                  OTHER
                </p>
              </div>
            </div>

            <form class="form-horizontal" method="post" action="/other-form">
              <div class="form-group">
                <label for="system" class="col-sm-2 control-label">Your name</label>
                <div class="col-sm-10">
                  <input type="text" name="form[name]" class="form-control" id="os" placeholder="Jane Doe">
                </div>
              </div>
              <div class="form-group">
                <label for="whathappened" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" name="form[email]" class="form-control" id="" placeholder="jane.doe@gmail.com"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="whathappened" class="col-sm-2 control-label">Request</label>
                <div class="col-sm-10">
                  <textarea type="text" name="form[request]" class="form-control" id="" placeholder="What's up?"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="info-text">
                    Thanks for the feedback. We'll get back with you ASAP.
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>


</body>
<%- include footer.ejs %>
